body {
    font-family: Arial, sans-serif;
    background-color: #ffcad4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #008080;
}

h2 {
    color: #008080;
}

p {
    margin: 0;
    color: #555555;
}

a {
    color: #7a5c58;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin: 5px;
    border: 8px solid #7a5c58;
    border-radius: 5px;
}
